.ArrowRight {
  width: 0;
  height: 0;
  border-top: 0.7rem solid transparent;
  border-bottom: 0.7rem solid transparent;
  border-left: 0.7rem solid #000;
}

.ArrowDown {
  width: 0;
  height: 0;
  border-left: 0.7rem solid transparent;
  border-right: 0.7rem solid transparent;
  border-top: 0.7rem solid #000;
}

.Workouts,
.Routines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.SectionHeader {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid #eee;
  width: 20rem;
}

.SectionHeader h3 {
  margin-right: 1rem;
}

.Message {
  color: #80ff80;
  position: absolute;
  top: 9rem;
  left: 44%;
  font-size: 2rem;
}
