.ListItem {
  list-style: none;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
}

.DetailRow {
  display: flex;
  justify-content: space-around;
}
