.SelectLabel {
  font-size: 1.8rem;
}

.CreateWorkoutSelect,
.ExerciseFocusSelect,
.CreateExerciseSelect {
  width: 30rem;
}

.SetDetailsSelect,
.RoutineSelect,
.RecordWorkoutModalSelect {
  width: 20rem;
}

@media only screen and (max-width: 330px) {
  .ExerciseFocusSelect {
    width: 28rem;
  }
}
