.WorkoutListItem {
  width: 15rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.TextInput {
  border-radius: 2px;
  padding: 0.2rem;
  border: 2px solid #eee;
  width: 21rem;
  height: 3.4rem;
}

.Invalid {
  border-radius: 2px;
  padding: 0.2rem;
  width: 21rem;
  height: 3.4rem;
  border: 2px solid red;
  background-color: #fda49a;
}

.Checkbox {
  width: 1rem;
  height: 1rem;
}

.WorkoutName,
.RoutineName,
.ExerciseName {
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  height: 3.7rem;
  padding: 0.2rem 0.8rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.WorkoutName,
.ExerciseName {
  width: 30rem;
}

.RoutineName {
  width: 20rem;
}

.WorkoutName::placeholder,
.RoutineName::placeholder,
.ExerciseName::placeholder,
.CreateExerciseDescription::placeholder {
  color: hsl(0, 0%, 30%);
  position: absolute;
  margin-left: 2px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.6rem;
}

.WorkoutName:hover,
.RoutineName:hover,
.ExerciseName:hover,
.CreateExerciseDescription:hover {
  border-color: var(--color-primary);
}

.WorkoutName:focus,
.RoutineName:focus,
.ExerciseName:focus,
.CreateExerciseDescription:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: var(--box-shadow-primary-2);
  caret-color: var(--color-primary);
}

.SelectMenuGroup {
  display: flex;
  justify-content: space-between;
  width: 60rem;
  margin-bottom: 1.5rem;
  margin-left: 5rem;
}

.WorkoutDetailsSelectWrapper {
  display: flex;
  justify-content: space-between;
  width: 60rem;
  margin-bottom: 1.5rem;
  margin-left: 5rem;
}

.ExerciseFocusSelectWrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.SetDetailsSelectWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  position: relative;
}

.SetDetailsSelectWrapper label {
  margin-right: 1rem;
}

.CreateExerciseDescription {
  width: 30rem;
  height: 10rem;
  position: relative;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 0.2rem 0.8rem;
  margin-left: -0.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}
