.WorkoutListItem {
  width: 6.5rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.TextInput {
  border-radius: 2px;
  padding: 0.2rem;
  border: 2px solid #eee;
  width: 21rem;
  height: 3.4rem;
}

.Invalid {
  border-radius: 2px;
  padding: 0.2rem;
  width: 21rem;
  height: 3.4rem;
  border: 2px solid red;
  background-color: #fda49a;
}
