.WorkoutListItem {
  width: 15rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.TextInput {
  border-radius: 2px;
  padding: 0.2rem;
  border: 2px solid #eee;
  width: 21rem;
  height: 3.4rem;
}

.Invalid {
  border-radius: 2px;
  padding: 0.2rem;
  width: 21rem;
  height: 3.4rem;
  border: 2px solid red;
  background-color: #fda49a;
}

.Checkbox {
  width: 1rem;
  height: 1rem;
}

.WorkoutName {
  box-shadow: var(--box-shadow-1);
  border-radius: 3px;
  width: 30rem;
  height: 3.7rem;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
}

.WorkoutName::placeholder {
  padding-left: 1rem;
  font-size: 1.8rem;
}

.WorkoutName:focus {
  outline: none;
  box-shadow: var(--box-shadow-2);
  caret-color: var(--color-primary);
}

.SelectMenuGroup {
  display: flex;
  justify-content: space-between;
  width: 60rem;
  margin-bottom: 1.5rem;
  margin-left: 5rem;
}

.WorkoutDetailsSelectWrapper {
  display: flex;
  justify-content: space-between;
  width: 60rem;
  margin-bottom: 1.5rem;
  margin-left: 5rem;
}

.ExerciseFocusSelectWrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}
