.SearchCategory {
  width: 25rem;
  height: 5rem;
  border: 1px solid #000;
  border-radius: 2px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
