.WorkoutListItem {
  border: 1px solid #eee;
  padding: 1rem;
  width: 75rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.Form {
  display: flex;
  justify-content: space-between;
}

.CloseWorkoutBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
