.ExerciseResult {
  list-style: none;
  box-shadow: var(--box-shadow-1);
  border-radius: 3px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  min-width: 50rem;
}

.ExerciseResult div {
  display: flex;
  justify-content: space-between;
}

.ExerciseResult a {
  text-decoration: none;
  color: var(--color-white);
}

.ExerciseResult button.favorite {
  background-color: #fff;
}
